/*@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    /*background-color: rgb(240, 239, 239);*/
    background-color: rgb(153, 50, 204);
    display: grid;
    place-items: center;
    height: 100vh;
}

#cupcake {
    width: 100px;
    border-radius: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;

}

/*img {
    filter: grayscale(100%);
}*/

h1 {
    font-family: 'Raleway:thin', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: white;

}

h2 {
   font-family: 'Raleway:thin', sans-serif;
   color: orange; 
   font-size: xx-large;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-end justify;
    font-size: medium;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: "Raleway:thin";
}
