{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    {% if searched %}
        <h2> You Searched For...{{ searched }}</h2>
        <br/>
        {% if story in stories %}
            {% for story in stories %}
                <!--<a href="{% url 'news:story' story.id %}">{{ story.title }}</a><br/>-->
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <h2>No Results Found...Try Another Search...</h2>
        {% endif %}
        
    {% else %}
        <h2> Oh no! You Forgot To Search For A Story...</h2>
    {% endif %}
    
   
{% endblock %}