<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
        {% if story.image_url %}
            <img src="{{ story.image_url }}">
        {% else %}
            <img src="https://picsum.photos/600">
        {% endif %}
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <a href="{% url 'news:authorStories' story.author.id %}">By {{ story.author }}</a>
            <!--<p>{{ story.pub_date }}</p> -->
            <!--<p>{{ story.content|truncatewords:7 }}</p>-->
            {% if request.user.is_authenticated and request.user.id == story.author.id %} 
            <a href="{% url 'news:updateStory' story.id %}">Edit</a>
            {% endif %}            

        </div>
    </a>
</div>
