{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4><a href="{% url 'news:authorStories' story.author.id %}">By {{ story.author }}</a></h4>
    {% if request.user.is_authenticated and request.user.id == story.author.id %} 
            <a style="color:orange" href="{% url 'news:updateStory' story.id %}">Edit</a>
            {% endif %}            
    <div id="story-content">
        {% if story.image_url %}
            <img src="{{ story.image_url }}">
        {% else %}
            <img src="{% static '/news/images/placeholder-5.jpg' %}">
        {% endif %}
            
        {{ story.content|linebreaks }}
    </div>
</div>

<div id="comment-wrapper">
    <div>

        <form method="POST" action="{% url 'news:addComment' story.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Comment</button>
        </form>
    </div>

    <!--<p><a href="{% url 'news:addComment' story.id %}">Add A Comment</a></p>-->

    <ul>
    {% for comment in story.comments.all %}
        <li>{{comment.author.username}} ({{comment.created_at}}): {{ comment.content }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
